.wrapper {
    max-width: 900px;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display: block;
    margin: 0 auto;
    height: 450px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.container {
    display: grid;
    grid-template-columns: 220px 150px 1fr 250px;
    grid-template-rows: 200px;
}

.sun-img {
    display: block;
    margin: 0 auto;
}

.temperature {
    margin-top: 40px;
}

.metrics {
    font-size: 26px;
    font-weight: lighter;
    color: black;

}

.metrics a {
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.column-two {
    text-align: center;
    font-size: 28px;
}

.column-third h1 {
    font-family: "Roboto Slab",
        serif;
    font-size: 36px;
    margin: 50px 0 0 40px;
}

.column-third ul {
    list-style: none;
}

.description {
    font-weight: 700;
}
