.forecast-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 30px 30px 40px;
    margin-top: 100px;
}

.forecast {
    display: flex;
    justify-content: space-around;

}

.forecast-date {
    text-align: center;
    margin: auto 0;
    font-weight: 700;
}

.forecast-temperature {
    text-align: center;
    height: 20px;
}

.forecast-icon {
    display: flex;
    justify-content: center;
    align-items: center;

}