.Forecast {
    text-align: center;
    display: flex;
    margin: 20px auto;

}

.Forecast canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-right: 30px;

}

.Forecast .animation {
    margin-top: 7px;
    margin-right: 20px;
}


.ForecastPreview {
    margin: 0 auto;
}

.NewForecast {
    margin-top: 80px;
}